.home-bg{
    background-image: url(../space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg);
    background-size: cover;
    /* background: no-repeat; */
    height: 100vh;
    /* width: 181vh; */
    
}
h1, h2{
    padding: 0;
    margin: 0;
}
.home{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    line-height: 1.8;
    padding: 0;
    margin: 0;
    font-family: "Mohave";
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
    width: 100%;
    text-align: center;
    color: white;
}
article{
    width: 55%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15rem;
}
.btn{
    width: 50%;
}

.home-h4{
    font-size: 3rem;
    color: white;
    font-weight: 400;
    font-family: "Mohave", sans-serif;
}
.home-span{
    font-family: "Zen Antique", sans-serif;
    padding: 0;
    font-size: 8rem;
    text-align: center;
    font-weight: 400;
}
.home-btn {
    margin-top: 120px;
    width: 190px;
    height: 190px;
    margin-top: 15rem;
    background-color: white;
    font-weight: 100;
    font-family: "Mohave", sans-serif;
    font-size: 2rem;
    color: black;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.home-btn:hover{
    box-shadow: 5px 5px 5px grey;
    transition: box-shadow 0.5s ease-in-out;
}

/* media query for low resolution   */
@media (min-width: 300px) and (max-width: 767px) {
    .home-bg{
        background-image: url(../space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg);
        background-size: cover;
    }
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 96vh;
    }
    article{
        width: 100%;
        margin-top: 0.5rem;
    }
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-span{
        font-size: 4rem;
    }
    .home-p{
        width: 95%;
        text-align: center;
        font-size: 1rem;
        line-height: 1.8rem;
        /* margin-top: 3rem; */
       
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        /* font: 4rem; */
    }
    .home-btn{
        margin-top: 0;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
}

/* media query for tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .home-bg{
        background-image: url(../space-tourism-website-main/starter-code/assets/home/background-home-tablet.jpg);
        height: 100vh;
        background-size: cover;
    }
    .container{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
    }
    article{
        width: 100%;
        
    }
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-h1{
        width: 90%;
        font-size: 25px;
    }
    .home-span{
        font-size: 8rem;
    }
    .home-p{
        width: 95%;
        text-align: center;
        line-height: 2.2rem;
    }
    .home-btn{
        margin-top: 0;
    }
}